h1,
h2 {
    text-align: center;
}

#play_again {
    margin: 20%;
    padding: 40px;
    background-color: lightgreen;
}

#blanks_list ul {
    display: inline-block;
}

.inline {
    display: inline-block;
    margin: 2%;
    width: 50px;
    border-bottom: 5px solid red;
    text-align: center;
}

.show {
    display: inline;
}

#winner {
    color: red;
}